inst/website
gh-pages
*Rproj*
*.Rhistory*
^odelia.Rcheck$
*.rds
.Rproj.user
src/*.o.tmp
src/*.o
src/*.so
src/*.dll
.vscode
.RData
*.html
doc
Meta
*.knit.md

*.tar.gz

# standalone C++ core check (tests/standalone)
tests/standalone/*.o
tests/standalone/r_free
